<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Калькулятор</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/history">История</a>
            </li>

          </ul>
          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item pt-2 pe-2" style="color: rgba(255,255,255,.55)">Привет <b th:text="${session.user.name}" th:unless="${session.user == null}"> </b></li>
              <li class="nav-item pt-2" style="color: rgba(255,255,255,.55)">|</li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/logout">Выйти</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
</body>
</html>
